<%!
  from r2.lib.utils import wiki_url_for_title
  from r2.lib.template_helpers import add_sr

  from r2.models import Link, LinkTag
  from r2.lib.db.operators import desc, asc

  from r2.lib.manager import db_manager
  from pylons import g
  from r2.lib.db import tdb_sql as tdb
  import sqlalchemy as sa
%>
<%
  article = thing.article
  author = thing.author


  #default values
  index = 0
  articlecount = 0


  #set up the sqlalchemy stuff
  testOutput = "Testing2"

  dbm = db_manager.db_manager()

  engine = db_manager.get_engine(g.main_db_name,
    db_host = g.main_db_host,
    db_user = g.main_db_user,
    db_pass = g.main_db_pass)

  conn = engine.connect()

  link_type = tdb.types_id[Link._type_id]
  link_thing_tbl = link_type.thing_table
  link_data_tbl = link_type.data_table[0]
%>

%if article is None:
  <p>${_('Unable to retrieve navigation options for this article.')}</p>
%else:
  <ul class="clear">

<%

  #bug: this doesn't scan for Link.c._deleted == False, Link.c._spam == False, data = True

  #get the count for articles by this author
  s = sa.select([sa.func.count(link_data_tbl.c.value)], sa.and_(link_data_tbl.c.value==article.author_id, link_data_tbl.c.key=='author_id') )

  result = conn.execute(s)

  row = result.fetchone()

  #testOutput = row[0]

  articlecount = row[0]


  #get the index of this article
  #that's the number of articles by this author whose date is <= the current article's date
  s = sa.select([sa.func.count(link_data_tbl.c.value)], sa.and_(link_data_tbl.c.value==article.author_id, link_data_tbl.c.key=='author_id', link_thing_tbl.c.thing_id==link_data_tbl.c.thing_id, link_thing_tbl.c.date<=article._date) )

  #testOutput = s

  #testOutput = article._date

  result = conn.execute(s)

  row = result.fetchone()

  #testOutput = row[0]

  index = row[0]

%>

    ${unsafe(self.article_nav_item(article.prev_by_author(), article.next_by_author(), unsafe(self.author(thing.author)), _('by author'), index, articlecount))}

    %for sequence_name in article.get_sequence_names():
    ${unsafe(self.article_nav_item(article.prev_in_sequence(sequence_name), article.next_in_sequence(sequence_name), unsafe(self.sequence(sequence_name)), _('in sequence'), article.index_in_sequence(sequence_name), article.articlecount_in_sequence(sequence_name)))}
    %endfor

    %if article.blessed:

<%

##TODO - implement the query for index and articlecount!

%>

    ${unsafe(self.article_nav_item(article.prev_in_promoted(), article.next_in_promoted(), None, unsafe(self.promoted()), index, articlecount))}
    %endif

<%


  #bug: this doesn't scan for Link.c._deleted == False, Link.c._spam == False, data = True

  #get the count for all articles
  s = sa.select([sa.func.count(link_data_tbl.c.value)], link_data_tbl.c.key=='author_id')

  result = conn.execute(s)

  row = result.fetchone()

  #testOutput = row[0]

  articlecount = row[0]


  #get the index of this article
  #that's the number of all articles whose date is <= the current article's date
  s = sa.select([sa.func.count(link_data_tbl.c.value)], sa.and_(link_data_tbl.c.key=='author_id', link_thing_tbl.c.thing_id==link_data_tbl.c.thing_id, link_thing_tbl.c.date<=article._date) )

  #testOutput = s

  #testOutput = article._date

  result = conn.execute(s)

  row = result.fetchone()

  #testOutput = row[0]

  index = row[0]

%>

    ${unsafe(self.article_nav_item(article.prev_link(), article.next_link(), None, unsafe(self.new()), index, articlecount))}


    %if hasattr(article, 'top_link') and article.top_link:

<%

##TODO - implement the query for index and articlecount!

%>

    ${unsafe(self.article_nav_item(article.prev_in_top(), article.next_in_top(), None, unsafe(self.top()), index, articlecount))}
    %endif

    %for tag in article.get_tags():

<%

##TODO - implement the query for index and articlecount!

%>

    ${unsafe(self.article_nav_item(article.prev_by_tag(tag), article.next_by_tag(tag), unsafe(self.tag(tag)), _('by tag'), index, articlecount))}
    %endfor
  </ul>

  ${testOutput}

%endif

<%def name="article_nav_item(prev_link, next_link, navtype, place, index, articlecount)">
<li class="clear">
%if prev_link:
  <a class="nav" href="${prev_link.url if hasattr(prev_link, 'url') else prev_link}"><img src="/static/articlenav-prev.gif" alt="Previous" /></a>
%else:
  <img src="/static/articlenav-prev-grey.gif" alt="Previous" />
%endif
  <span class="place">post ${index} of ${articlecount}</span>
##  <span class="place">${place}</span>
%if next_link:
  <a class="nav" href="${next_link.url if hasattr(next_link, 'url') else next_link}"><img src="/static/articlenav-next.gif" alt="Next" /></a>
%else:
  <img src="/static/articlenav-next-grey.gif" alt="Next" />
%endif
## <span class="type">by tag &nbsp; <a href="http://lesswrong.com/tag/${TagNamesByTag[index]}">${TagNamesByTag[index]}</a></span>
  <span class="type">
  %if navtype:
    ${place} ${navtype}
  %else:
    in ${place}
  %endif
  </span>
</li>
</%def>

<%def name="author(author)" buffered="True">
  %if author is None:
    ${_('Unknown')}
  %else:
    <% author_path = unsafe(add_sr("/user/%s/" % websafe(author.name), sr_path = False)) %>
    <a href="${author_path}">${author.name}</a>
  %endif
</%def>

<%def name="sequence(title)" buffered="True">
  <a href="${wiki_url_for_title(title)}">${title}</a>
</%def>

<%def name="promoted()" buffered="True">
  <a href="/">${_('Promoted')}</a>
</%def>

<%def name="new()" buffered="True">
  <a href="/new/">All Posts</a>
</%def>

<%def name="top()" buffered="True">
  <a href="/top/">Top Posts</a>
</%def>

<%def name="tag(tag)" buffered="True">
  <a href="${tag.path}">${tag.name}</a>
</%def>
